<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
    <ion-title>
      Proyecto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list> 

    <ion-item *ngIf="project">
     <ion-input required type= "text" placeholder="Proyecto" [(ngModel)]="project.project_name">
     </ion-input>
    </ion-item> 
    <ion-item *ngIf="project">
      <ion-input required type= "text" placeholder="Cliente" [(ngModel)]="project.cliente">
    </ion-input>
     </ion-item>
     
     <ion-item *ngIf="project">
      <ion-input required type= "text" placeholder="Vigencia" [(ngModel)]="project.date_end">
    </ion-input>
     </ion-item>
    

</ion-list>
<ion-button expand="full" (click)="saveProject()">Save</ion-button>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
<ion-fab-button color="danger" (click)="onRemove(ProjectId)">
  <ion-icon name="trash">
  </ion-icon> 

</ion-fab-button> 
</ion-fab>

</ion-content>

